
body {
   background-color: #FFFAF0;
   width:100%;
   margin-right: auto;
   margin-left : auto;
}


header {
    padding: 10px 4% 10px;
    display: flex;
    align-items: center;
}

 h1 {
   margin: 0; padding: 60;
   font-size: 40px;
   color: black;
   font-family: "Hannotate SC";
   
}

a {
    text-decoration:none; 
}

/*マイページとユーザー名*/
h2 {
   text-align:center;
   font-size: 30px;
   font-family: "Hannotate SC" ;
}


h3 {
  font-family: "Hannotate SC" ;
   text-align:center;
}



.navigation ul li {
  display: inline-block;
  font-family: "Hannotate SC";
  margin:25px;
}

.btn-border-bottom {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.4rem 10;
  text-decoration: none;
  color: #666666;  
}

.btn-border-bottom:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius:4px;
  background:#666666;
  transition: .4s;
}

.btn-border-bottom:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.cssgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.8em;
  border: 1px solid #ddd;
  padding: 0.8em;
  margin: 0 0 2em;
  justify-items: center;
}

.cssgrid > div {
  background: #F5DEB3;
  min-width: 0;
  padding: 1em;
  min-width: 270px;
}


.box1{
    padding: 0.2em 0.5em;
    margin: 2em 10;
    background: #F5DEB3;
    box-shadow: 0px 0px 0px 10px #F5DEB3;
    border: dashed 2px #800000;
    height: 420;
    max-width :300px;
    
}


.box1 h4{
  text-align: left;
  font-family: "Hannotate SC";
  font-size: 20px;
  text-align: center;
}


.box1 p {
    margin: 0; 
    padding: 0;
    text-align: center;
}

.box__image_01 {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.box__text_01 {
 text-align: center;
}

.card__text_02 {
  text-align: center;
}

p{
  font-family: "Hannotate SC";
  text-align: center; 
  font-size: 30px;
}

form{
  margin:0 auto;
  margin-bottom: 100px;
   max-width: 500px;
}



.item{
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 20px;
  
 
}

.form-wrapper {
  display: flex;
  justify-content: center;
}


.item input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.item input[type='text']:focus {
	border-bottom: 2px solid #999999;
	outline: none;
}

.item input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.item input[type='email']:focus {
	border-bottom: 2px solid #999999;
	outline: none;
}

.item input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.item input[type='password']:focus {
	border-bottom: 2px solid #999999;
	outline: none;
}

.btn-wrapper {
  display: flex;
  justify-content:center;
  padding-top: 20px;
  padding-left: 30px;
}



.btn-area{
  text-align: center;
}


.form-button {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-family: "Hannotate SC";
  width: 100px;
  padding: 10px;
   margin-left: 10px;
   justify-content:center;
 
}

.form-button:hover {
  color: #fff;
  background: #808080;
}

.item2 {
  font-family: "Hannotate SC";
  width:500px;
  justify-content:center;
  
}

.item2 input[type="text"] {
  font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}

.item2 input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}



textarea{
  
  justify-content:center;
  overflow: scroll;
  padding: 0.5em 0.5em;
  margin-top: 50px;
  margin-left: 3px;
  font-weight: bold;
  border: solid 2px #000000;
}



.box2 {
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 2.0px #000000;
    font-family: "Hannotate SC";
    width:50%;
}

.box2-wrapper{
  display: flex;
  justify-content:center;
  padding-top: 20px;
}



button{
display:inline-block;
}

.box3{
    margin-top:50px;
    padding: 0.2em 0.5em;
    margin-left: 70px;
    background: #F5DEB3;
    box-shadow: 0px 0px 0px 10px #F5DEB3;
    border: dashed 2px #800000;
    width: 90%;
}


title {
  text-align: center; 
  font-family: "Hannotate SC";
}

.comment{
  text-align: center;
  font-family: "ヒラギノ角ゴシック";
  white-space: pre-wrap;
}

h3 {
  text-align: center;
  font-family: "Hannotate SC";
 font-size: 150%;
}

.btn-sticky {
  margin-top: 20;
  font-family: "Hannotate SC";
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #E0FFFF;/*左線*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width:100%;
}
.scrolling-wrapper .item {
  display: inline-block;
}

.image-wrap{
    margin: 10px 5px;
    text-align : center;
}

.image-wrap img {
    height: 300px;
}


.pagination {
    text-align: center;
}

/* ページ送りを横並びに */
.pagination li{
    display: inline-block;
}

footer{
	text-align: center; 
	padding: 10px;
	font-family: "Hannotate SC" ;
	color:#AAAAAA;
  bottom: 0; 
}

.btn-delete{
  text-align: center;
  margin-top: 70;
}

.delete-button{
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-family: "Hannotate SC";
  width: 100px;
  padding: 10px;
  justify-content:center;
}

.delete-button:hover {
  color: #fff;
  background: #808080;
}

.pagenation{
  margin-right:30px;
}


